<section class="">


  <div class="container">
    <div class="row">
      <div class="termsAndConditions" data-aos="fade-down" data-aos-duration="800">
        <h1 class="cpl-12" data-aos="fade-down" data-aos-duration="1000">terms And Conditions</h1>

        <div class="text" data-aos="fade-down" data-aos-duration="1000">

          <div class="col-12 mt-5">
            <div class="terms mb-3 py-3 d-flex align-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab quis dolorum laboriosam nemo,
                numquam dolor? Quas aliquid fugit sint.</p>
            </div>
          </div>

          <div class="col-12">
            <div class="terms mb-3 py-3 d-flex align-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab quis dolorum laboriosam nemo,
                numquam dolor? Quas aliquid fugit sint.</p>
            </div>
          </div>

          <div class="col-12">
            <div class="terms mb-3 py-3 d-flex align-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab quis dolorum laboriosam nemo,
                numquam dolor? Quas aliquid fugit sint.</p>
            </div>
          </div>


          <div class="col-12">
            <div class="terms mb-3 py-3 d-flex align-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab quis dolorum laboriosam nemo,
                numquam dolor? Quas aliquid fugit sint.</p>
            </div>
          </div>

          <div class="col-12">
            <div class="terms mb-3 py-3 d-flex align-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab quis dolorum laboriosam nemo,
                numquam dolor? Quas aliquid fugit sint.</p>
            </div>
          </div>

          <div class="col-12">
            <div class="terms mb-3 py-3 d-flex align-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab quis dolorum laboriosam nemo,
                numquam dolor? Quas aliquid fugit sint.</p>
            </div>
          </div>


          <div class="col-12">
            <div class="terms mb-3 py-3 d-flex align-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab quis dolorum laboriosam nemo,
                numquam dolor? Quas aliquid fugit sint.</p>
            </div>
          </div>

        </div>
        <div class="btns d-flex justify-content-around col-12 mt-4">
          <button routerLink="/home" class="btn btn-primary">Accept</button>
          <button routerLink="/settings" class="btn btn-secondary">Close</button>
        </div>

      </div>
    </div>
  </div>
</section>
