<section>
  <div class="containerr">
    <nav class="navbar navbar-expand-lg d-block">
      <div class="container-fluid d-flex justify-content-around ">
        <a class="navbar-brand logo font-bold" routerLink="/home">El Domyati</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-links" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-links" routerLink="/allOrders" routerLinkActive="active">My Orders</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-links" routerLink="/notifications" routerLinkActive="active">Notifications</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-links" routerLink="/shoppingCart" routerLinkActive="active">Shopping</a>
            </li>
            <li class="nav-item">
              <a class="nav-links" routerLink="/address" routerLinkActive="active">Address</a>
            </li>
            <li class="nav-item">
              <a class="nav-links" routerLink="/settings" routerLinkActive="active">Settings</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-links font-bold" routerLinkActive="active" data-toggle="modal"
                data-target="#addressModal">Address</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-links" routerLink="/settings" routerLinkActive="active">Setting</a>
            </li>
            <li class="nav-item">
              <a class="nav-links" routerLink="/favourite" routerLinkActive="active">Favourite</a>
            </li> -->
          </ul>

          <div class="d-flex pb-1 rightLink">


      <!-- <button mat-button style="color: #000; font-size: 26px;" matTooltip="menu" [matMenuTriggerFor]="menu"
              class="mx-2">
              <mat-icon>menu</mat-icon>
            </button>

            <mat-menu #menu="matMenu" class="mt-1">
              <button mat-menu-item routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
              </button>
              <button mat-menu-item routerLink="/settings">
                <mat-icon>settings</mat-icon>
                <span>Setting</span>
              </button>
              <button mat-menu-item routerLink="/notifications">
                <mat-icon>notifications_on</mat-icon>
                <span>Notifications</span>
              </button>
              <button mat-menu-item routerLink="/favourite">
                <mat-icon>favorite</mat-icon>
                <span>My Favorite</span>
              </button>
              <button mat-menu-item routerLink="/allOrders">
                <mat-icon>loyalty</mat-icon>
                <span>My Orders</span>
              </button>
              <button mat-menu-item routerLink="/address">
                <mat-icon>location_on</mat-icon>
                <span>Address</span>
              </button>
            </mat-menu> -->



            <button matTooltip="Search" class="nav-btn mb-0">
              <i class='bx bx-search-alt' ></i>
            </button>

            <button matTooltip="User" class="nav-btn mb-0">
              <i class='bx bx-user'></i>
            </button>

            <button matTooltip="Favourite" class="nav-btn mb-0">
              <i class='bx bx-heart' ></i>
            </button>

            <button matTooltip="Notifications" class="nav-btn mb-0">
              <i class='bx bx-bell' ></i>
            </button>

            <button matTooltip="LogOut" class="nav-btn mb-0" *ngIf="!btnLogin"
              (click)="logOut()">
              <!-- <mat-icon>lock</mat-icon> -->
              <i class='bx bx-log-out'></i>
            </button>

            <button matTooltip="Login" class="nav-btn mb-0" routerLink="/login"
              *ngIf="btnLogin">
              <!-- <mat-icon>lock_open</mat-icon> -->
              <i class='bx bx-log-in'></i>
            </button>
            <!-- <a class="nav-links btn-primary" id="btnLogin" routerLink="/login" routerLinkActive="active" *ngIf="btnLogin">Login</a>
            <a class="nav-links logout btn-danger" id="btnLogout" routerLinkActive="active" *ngIf="!btnLogin" (click)="logOut()">LogOut</a> -->
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>




<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addressModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title font-weight m-0" id="addressModalLabel">Add To Address</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="text-center text-weight-bold">Choose city and region</h1>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="TextCity">The City Name</label>
                  <input type="text" class="form-control" id="TextCity" placeholder="City Name">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="selectCity">Select City</label>
                  <select class="custom-select" id="selectCity">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="selectRegion">Select Region</label>
                  <select class="custom-select" id="selectRegion">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="num">Number</label>
                  <input type="tel" class="form-control" id="num" placeholder="Enter Your Number">
                </div>
              </div>

              <div class="form-group">
                <label for="textarea1">Address Details</label>
                <textarea class="form-control" id="textarea1" rows="3" placeholder="Details"></textarea>
              </div>
              <div class="col-12">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Default Address</label>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Address</button>
        </div>
      </div>
    </form>
  </div>
</div>
