<section class="">



  <div class="container">
    <div class="row">
      <!-- Location input -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngFor="let card of favouriteCard" data-aos="fade-down"
        data-aos-duration="1000">
        <div class="locationInput">
          <form action="">

          </form>
        </div>
      </div>
      <!-- Location output -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngFor="let card of favouriteCard" data-aos="fade-down"
        data-aos-duration="1000">
        <div class="locationInput">

        </div>
      </div>
    </div>
  </div>
</section>
