<header></header>
<!-- <home></home> -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#D65817" type = "square-jelly-box" [fullScreen] = "true">
    <div class="loader">
      <div class="scanner">
        <h1>Loading...</h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 style="color: transparent" > . </h3>
  </ngx-spinner>


<router-outlet></router-outlet>
<!-- <footer></footer> -->
