<section class="">

  <div class="pt-5 container" data-aos="fade-down" data-aos-duration="1000">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="aboutUs">
          <div class="about position-relative">
            <img class="w-100"
              src="https://images01.nicepage.com/c461c07a441a5d220e8feb1a/97d5ec03dd015fb286f1fbd6/2cd8810a-2002-afce-79ce-a321438ebdfe.jpg"
              alt="">
            <div class="about-details" data-aos="fade-down" data-aos-duration="1200">
              <h2 class="u-text u-text-body-alt-color u-text-default u-text-1">About us</h2>
              <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quos quidem suscipit impedit porro
                voluptatem minus ab explicabo, ipsa debitis error asperiores expedita quam totam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
