<section class="">



  <div class="container">
    <div class="row mt-5">
      <!-- Card -->
      <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let card of favouriteCard" data-aos="fade-down"
        data-aos-duration="1000">
        <div class="card">
          <div class="product-image" [routerLink]="['/productDetails',card?.id]">
            <img [src]="imageBaseUrl+card.imageurl" alt="" />
          </div>
          <div class="product-details">
            <h2>{{ card.name }}</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            <p>{{ card.details }}</p>
            <div class="price">${{ card.price }}</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <button *ngIf="card.isfavourate" class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="product">
          <div class="product-img">
            <img src="../../../assets/Home/Sweets-Free-Download-PNG.png" alt="categories" class="h-100 w-100">
          </div>
          <div class="product-sale">
            <h3>SALE</h3>
          </div>
          <div class="product-fav">
            <i class="fa-solid fa-heart p-2 text-black" routerLink="/favourite"></i>
          </div>
          <div class="product-details">
            <h2 class="text-black mt-2">sweets mix</h2>
            <div class="size">
              <div class="size-card d-flex justify-content-around w-100">
                <p class="text-black">S</p>
                <p class="text-black">M</p>
                <p class="text-black">L</p>
              </div>
              <div class="price">
                <p class="text-black">$59 <span class="price-offers"><del>$92</del></span></p>
              </div>
              <div class="btns">
                <button class="btn btn-primary">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="product">
          <div class="product-img">
            <img src="../../../assets/Home/Sweets-Free-Download-PNG.png" alt="categories" class="h-100 w-100">
          </div>
          <div class="product-sale">
            <h3>SALE</h3>
          </div>
          <div class="product-fav">
            <i class="fa-solid fa-heart p-2 text-black" routerLink="/favourite"></i>
          </div>
          <div class="product-details">
            <h2 class="text-black mt-2">sweets mix</h2>
            <div class="size">
              <div class="size-card d-flex justify-content-around w-100">
                <p class="text-black">S</p>
                <p class="text-black">M</p>
                <p class="text-black">L</p>
              </div>
              <div class="price">
                <p class="text-black">$59 <span class="price-offers"><del>$92</del></span></p>
              </div>
              <div class="btns">
                <button class="btn btn-primary">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="product">
          <div class="product-img">
            <img src="../../../assets/Home/Sweets-Free-Download-PNG.png" alt="categories" class="h-100 w-100">
          </div>
          <div class="product-sale">
            <h3>SALE</h3>
          </div>
          <div class="product-fav">
            <i class="fa-solid fa-heart p-2 text-black" routerLink="/favourite"></i>
          </div>
          <div class="product-details">
            <h2 class="text-black mt-2">sweets mix</h2>
            <div class="size">
              <div class="size-card d-flex justify-content-around w-100">
                <p class="text-black">S</p>
                <p class="text-black">M</p>
                <p class="text-black">L</p>
              </div>
              <div class="price">
                <p class="text-black">$59 <span class="price-offers"><del>$92</del></span></p>
              </div>
              <div class="btns">
                <button class="btn btn-primary">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="product">
          <div class="product-img">
            <img src="../../../assets/Home/Sweets-Free-Download-PNG.png" alt="categories" class="h-100 w-100">
          </div>
          <div class="product-sale">
            <h3>SALE</h3>
          </div>
          <div class="product-fav">
            <i class="fa-solid fa-heart p-2 text-black" routerLink="/favourite"></i>
          </div>
          <div class="product-details">
            <h2 class="text-black mt-2">sweets mix</h2>
            <div class="size">
              <div class="size-card d-flex justify-content-around w-100">
                <p class="text-black">S</p>
                <p class="text-black">M</p>
                <p class="text-black">L</p>
              </div>
              <div class="price">
                <p class="text-black">$59 <span class="price-offers"><del>$92</del></span></p>
              </div>
              <div class="btns">
                <button class="btn btn-primary">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="product">
          <div class="product-img">
            <img src="../../../assets/Home/Sweets-Free-Download-PNG.png" alt="categories" class="h-100 w-100">
          </div>
          <div class="product-sale">
            <h3>SALE</h3>
          </div>
          <div class="product-fav">
            <i class="fa-solid fa-heart p-2 text-black" routerLink="/favourite"></i>
          </div>
          <div class="product-details">
            <h2 class="text-black mt-2">sweets mix</h2>
            <div class="size">
              <div class="size-card d-flex justify-content-around w-100">
                <p class="text-black">S</p>
                <p class="text-black">M</p>
                <p class="text-black">L</p>
              </div>
              <div class="price">
                <p class="text-black">$59 <span class="price-offers"><del>$92</del></span></p>
              </div>
              <div class="btns">
                <button class="btn btn-primary">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="product">
          <div class="product-img">
            <img src="../../../assets/Home/Sweets-Free-Download-PNG.png" alt="categories" class="h-100 w-100">
          </div>
          <div class="product-sale">
            <h3>SALE</h3>
          </div>
          <div class="product-fav">
            <i class="fa-solid fa-heart p-2 text-black" routerLink="/favourite"></i>
          </div>
          <div class="product-details">
            <h2 class="text-black mt-2">sweets mix</h2>
            <div class="size">
              <div class="size-card d-flex justify-content-around w-100">
                <p class="text-black">S</p>
                <p class="text-black">M</p>
                <p class="text-black">L</p>
              </div>
              <div class="price">
                <p class="text-black">$59 <span class="price-offers"><del>$92</del></span></p>
              </div>
              <div class="btns">
                <button class="btn btn-primary">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="product">
          <div class="product-img">
            <img src="../../../assets/Home/Sweets-Free-Download-PNG.png" alt="categories" class="h-100 w-100">
          </div>
          <div class="product-sale">
            <h3>SALE</h3>
          </div>
          <div class="product-fav">
            <i class="fa-solid fa-heart p-2 text-black" routerLink="/favourite"></i>
          </div>
          <div class="product-details">
            <h2 class="text-black mt-2">sweets mix</h2>
            <div class="size">
              <div class="size-card d-flex justify-content-around w-100">
                <p class="text-black">S</p>
                <p class="text-black">M</p>
                <p class="text-black">L</p>
              </div>
              <div class="price">
                <p class="text-black">$59 <span class="price-offers"><del>$92</del></span></p>
              </div>
              <div class="btns">
                <button class="btn btn-primary">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="product">
          <div class="product-img">
            <img src="../../../assets/Home/Sweets-Free-Download-PNG.png" alt="categories" class="h-100 w-100">
          </div>
          <div class="product-sale">
            <h3>SALE</h3>
          </div>
          <div class="product-fav">
            <i class="fa-solid fa-heart p-2 text-black" routerLink="/favourite"></i>
          </div>
          <div class="product-details">
            <h2 class="text-black mt-2">sweets mix</h2>
            <div class="size">
              <div class="size-card d-flex justify-content-around w-100">
                <p class="text-black">S</p>
                <p class="text-black">M</p>
                <p class="text-black">L</p>
              </div>
              <div class="price">
                <p class="text-black">$59 <span class="price-offers"><del>$92</del></span></p>
              </div>
              <div class="btns">
                <button class="btn btn-primary">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
