<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <h1 class="font-weight-bold my-5">Orders Details</h1>
      </div>

      <div class="col-6">
        <h1 class="font-weight-bold">
          Order Number:
          <span style="color: var(--main-color-hover)">#195526</span>
        </h1>
      </div>

      <div class="col-6">
        <h1 class="font-weight-bold">
          Address: <span style="color: var(--main-color-hover)">Cairo</span>
        </h1>
      </div>

      <div class="col-12">
        <div class="row justify-content-between">
          <div class="col-xl-9 col-lg-12 col-md-12 ">
            <div
              class="p-4 tables"
              style="background-color: #fff;
                border: 1px solid #eee;
                border-radius: 10px;">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th scope="col" class="item">Item Details</th>
                    <th scope="col">qty</th>
                    <th scope="col">price</th>
                    <th scope="col">total price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="d-flex justify-content-between item">
                      <div class="image w-25">
                        <img
                          src="../../../assets/Home/sweet-archives-pictures-25.png"
                          alt=""
                          class="w-100"
                          height="65px"
                        />
                      </div>
                      <div class="p text-center w-75">
                        <p>Sweets Mix</p>
                      </div>
                    </td>
                    <td>x2</td>
                    <td>EGP 100.00</td>
                    <td>EGP 200.00</td>
                  </tr>

                  <tr>
                    <td class="d-flex justify-content-between item">
                      <div class="image w-25">
                        <img
                          src="../../../assets/Home/sweet-archives-pictures-25.png"
                          alt=""
                          class="w-100"
                          height="65px"
                        />
                      </div>
                      <div class="p text-center w-75">
                        <p>Sweets Mix</p>
                      </div>
                    </td>
                    <td>x2</td>
                    <td>EGP 100.00</td>
                    <td>EGP 200.00</td>
                  </tr>

                  <tr>
                    <td class="d-flex justify-content-between item">
                      <div class="image w-25">
                        <img
                          src="../../../assets/Home/sweet-archives-pictures-25.png"
                          alt=""
                          class="w-100"
                          height="65px"
                        />
                      </div>
                      <div class="p text-center w-75">
                        <p>Sweets Mix</p>
                      </div>
                    </td>
                    <td>x2</td>
                    <td>EGP 100.00</td>
                    <td>EGP 200.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-6 col-md-6 py-3 px-4"
            style="
              background-color: #fff;
              border: 1px solid #eee;
              border-radius: 10px;
              height: 300px;
            "
          >
            <div class="col-12 p-0 py-1 d-flex justify-content-between">
              <h2>Order summary</h2>
              <h3
                class="px-2 py-1"
                style="
                  color: var(--main-color-hover);
                  background: #eee;
                  border-radius: 5px;
                "
              >
                Order new
              </h3>
            </div>

            <div class="col-12 p-0 py-1 d-flex justify-content-between">
              <h2>Order Created</h2>
              <h3 class="font-weight-bold">22-05-2022</h3>
            </div>

            <div class="col-12 p-0 py-1 d-flex justify-content-between">
              <h2>Subtotal</h2>
              <h3 class="font-weight-bold">EGP 400.00</h3>
            </div>

            <div class="col-12 p-0 py-1 d-flex justify-content-between">
              <h2>Delivery</h2>
              <h3 class="font-weight-bold">EGP 0.00</h3>
            </div>

            <div class="col-12 p-0 py-1 d-flex justify-content-between">
              <h2>Total</h2>
              <h3 class="font-weight-bold">EGP 0.00</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
