<section class="">



  <div class="container" data-aos="fade-down" data-aos-duration="1000">
    <div class="row">

      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1810/indianfoodimages181000394/109268718-indian-sweets-in-a-plate-includes-gulab-jamun-rasgulla-kaju-katli-morichoor-bundi-laddu-gujiya-or-ka.jpg?ver=6"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <!-- <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button> -->
              <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://thumbs.dreamstime.com/b/indian-sweets-diwali-festival-wedding-selective-focus-stock-photo-indian-sweets-served-silver-wooden-plate-variety-100925110.jpg"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button>
              <!-- <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button> -->
            </div>
          </div>
        </div>
      </div>


      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1810/indianfoodimages181000394/109268718-indian-sweets-in-a-plate-includes-gulab-jamun-rasgulla-kaju-katli-morichoor-bundi-laddu-gujiya-or-ka.jpg?ver=6"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <!-- <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button> -->
              <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://thumbs.dreamstime.com/b/indian-sweets-diwali-festival-wedding-selective-focus-stock-photo-indian-sweets-served-silver-wooden-plate-variety-100925110.jpg"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button>
              <!-- <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button> -->
            </div>
          </div>
        </div>
      </div>


      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1810/indianfoodimages181000394/109268718-indian-sweets-in-a-plate-includes-gulab-jamun-rasgulla-kaju-katli-morichoor-bundi-laddu-gujiya-or-ka.jpg?ver=6"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <!-- <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button> -->
              <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://thumbs.dreamstime.com/b/indian-sweets-diwali-festival-wedding-selective-focus-stock-photo-indian-sweets-served-silver-wooden-plate-variety-100925110.jpg"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button>
              <!-- <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button> -->
            </div>
          </div>
        </div>
      </div>


      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1810/indianfoodimages181000394/109268718-indian-sweets-in-a-plate-includes-gulab-jamun-rasgulla-kaju-katli-morichoor-bundi-laddu-gujiya-or-ka.jpg?ver=6"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <!-- <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button> -->
              <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://thumbs.dreamstime.com/b/indian-sweets-diwali-festival-wedding-selective-focus-stock-photo-indian-sweets-served-silver-wooden-plate-variety-100925110.jpg"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button>
              <!-- <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button> -->
            </div>
          </div>
        </div>
      </div>


      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1810/indianfoodimages181000394/109268718-indian-sweets-in-a-plate-includes-gulab-jamun-rasgulla-kaju-katli-morichoor-bundi-laddu-gujiya-or-ka.jpg?ver=6"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <!-- <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button> -->
              <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://thumbs.dreamstime.com/b/indian-sweets-diwali-festival-wedding-selective-focus-stock-photo-indian-sweets-served-silver-wooden-plate-variety-100925110.jpg"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button>
              <!-- <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button> -->
            </div>
          </div>
        </div>
      </div>


      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://us.123rf.com/450wm/indianfoodimages/indianfoodimages1810/indianfoodimages181000394/109268718-indian-sweets-in-a-plate-includes-gulab-jamun-rasgulla-kaju-katli-morichoor-bundi-laddu-gujiya-or-ka.jpg?ver=6"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <!-- <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button> -->
              <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" routerLink="/productDetails">
            <img class="h-100"
              src="https://thumbs.dreamstime.com/b/indian-sweets-diwali-festival-wedding-selective-focus-stock-photo-indian-sweets-served-silver-wooden-plate-variety-100925110.jpg"
              alt="" />
          </div>
          <div class="product-details">
            <h2>تشكيلت حلويات</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <!-- <i class="fas fa-star-half"></i> -->
            </div>
            <p>بسبوسة سادة - بندق - فستق - كنافة كريمة - مانجو - عثمانلية - متدلعة - نمورة - رموش - لينزا - معمول - زنود
              - كل واشكر - مشبك - لقمة القاضي - بلح الشام - اصابع زينب - مكسرات - جاتوه - سوارية - تورت - تورتة بلاك
              فورست - تورتة نص ونص - شيكولاتة - بيتي بان - بقسماط - باتون سالية - باتية - كرواسون - بيتزا - دانش - كيك -
              جلاش - سمبوسك - قطايف - ميلفية - بيتزا - فطير - فطير مشلتت - كحك - حلاوة المولد</p>
            <div class="price">$20</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <button class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button>
              <!-- <button class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button> -->
            </div>
          </div>
        </div>
      </div>

      <!-- card -->
      <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let card of cards" data-aos="fade-down" data-aos-duration="1000">
        <div class="card">
          <div class="product-image" [routerLink]="['/productDetails', card.id]">
            <img [src]="imageBaseUrl+card.imageUrl" alt="" />
          </div>
          <div class="product-details">
            <h2>{{ card.name }}</h2>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>{{ card.details }} Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum aperiam asperiores quis quia facere rem? </p>
            <div class="price">${{ card.productSize[0].productPrice }}</div>
            <div class="buttons">
              <button class="btn cart">add to card</button>
              <button *ngIf="card.isfavourate==true"  class="btn favourite text-danger">
                <i class="fa-solid fa-heart"></i>
              </button>
              <button *ngIf="card.isfavourate==false"  class="btn favourite text-transparent">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div> -->



    </div>
  </div>
</section>
